{% for book in books %}
<div class="book-entry" data-booktitle="{{book.title}}" data-bookid="{{book.id}}" data-bookauthors="{{book.get_authorids_str()}}">
  <h4 class="inline-header"> {{book.title}} </h4>
  <span class="book-authors">
    |
    {% for author in book.authors %}
      <span class="author-entry" data-authorname="{{author.name}}" data-authorid="{{author.id}}">
        {% if user %}
        <a href="#" class="grey-link edit-author" data-toggle="modal" data-target="#id-modal-author">
          {{ author.name}}
        </a>
        {% else %}
        <span class="grey-text">
          {{ author.name}}
        </span>
        {% endif %}
      </span> | 
    {% endfor %}
  </span>
  {% if user %}
  <div>
    <small>
      <a href="javascript:" class="edit-book" data-toggle="modal" data-target="#id-modal-book">
        Редактировать
      </a>
    </small> |
    <small>
      <a href="javascript:" class="delete-book">
        Удалить
      </a>
    </small>
  </div>
  {% endif %}
  <hr>

  <!--
    <p>
    Авторы: {{book.get_authornames_list()|join(', ')}}
    </p>
  -->
</div>
{% endfor %}
