{% extends "_modal_base.html" %}

{% block modal_target %}id-modal-book{% endblock %}


{% block modal_title %}
<div id="id-title-book-form">
  Добавить книгу
</div>
{% endblock %}

{% block modal_content %}
<form role="form" id="id-book-form">
  {{ book_form.csrf_token }}
  {{ book_form.id(id="id-input-book-id") }}
  <div class="form-group">
    {{ book_form.booktitle.label(for="id-input-book-name") }}
    {{ book_form.booktitle(class="form-control", id="id-input-book-name", placeholder="Введите название книги") }}
  </div>
  <div class="form-group">
    {{ book_form.authors.label(for="id-input-book-authors") }}<br>
    <div "id_input-book-authors-wrapper">
      {{ book_form.authors(id="id-input-book-authors") }}
    <a href="javascript:" id="id-add-author-from-book-form">Добавить автора</a>
    </div>
  </div>
  {{ book_form.submit(class="btn btn-primary") }}
</form>
{% endblock modal_content %}
