<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#" id="id-toggle-all-entries">Все</a></li>
      <li><a href="#" id="id-toggle-authors-entries">Авторы</a></li>
      <li><a href="#" id="id-toggle-books-entries">Книги</a></li>
      <li class="pull-right"> 
        <form class="form-inline">
          <input type="text" id="id-search" class="form-control" placeholder="Начните вводить запрос" style="width: 300px;">
        </form>
      </li>
    </ul>
  </div>
</div>
