{% extends "_base.html" %}

{% block nav %}

{% endblock nav %}
{% block content %}
  <div class="col-md-6" id="id-list-books-entries">
    <h2 class="inline-header">Книги в библиотеке</h2>
    {% if user %}
    <small class="inline-header">
      <a href="javascript:" id="id-add-book" data-toggle="modal" data-target="#id-modal-book">
        <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>-->
        Добавить
      </a>
    </small>
    {% endif %}
    <br><br>
    <div id="id-enumerate-books">
      {% include "__books.html" %}
    </div>
    <br>
  </div>

  <div class="col-md-6" id="id-list-authors-entries">
    <h2 class="inline-header">Авторы в библиотеке</h2>
    {% if user %}
    <small class="inline-header">
      <a href="javascript:" id="id-add-author" data-toggle="modal" data-target="#id-modal-author">
        <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>-->
        Добавить
      </a>
    </small>
    {% endif %}
    <br><br>
    <div id="id-enumerate-authors">
      {% include "__authors.html" %}
    </div>
  </div>


  <div id="id-modal-book-wrapper">
    {% include "__book_form.html" %}
  </div>
  <div id="id-modal-author-wrapper">
    {% include "__author_form.html" %}
  </div>
{% endblock content %}

